{% extends "admin/base_site.html" %}
{% load i18n log carfast_admin %}

{% block content %}
<div id="content-main">
  {% carfast_admin_dashboard %}

  {% if app_list %}
    {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
  {% else %}
    <p>{% translate "You don't have permission to view or edit anything." %}</p>
  {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module" id="recent-actions-module">
    <h2>{% translate 'Recent actions' %}</h2>
    <h3>{% translate 'My actions' %}</h3>

    {% get_admin_log 10 as admin_log for_user user %}
    {% if admin_log %}
      <ul class="actionlist">
        {% for entry in admin_log %}
          <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            {% if entry.is_deletion or not entry.get_admin_url %}
              {{ entry.object_repr }}
            {% else %}
              <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
            {% endif %}
            <br>
            {% if entry.content_type %}
              <span class="mini quiet">{{ entry.content_type.name|capfirst }}</span>
            {% else %}
              <span class="mini quiet">{% translate 'Unknown content' %}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>{% translate 'None available' %}</p>
    {% endif %}
  </div>
</div>
{% endblock %}
